.assignments-table-container {
    background-color: rgba(31, 41, 55, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #374151;
    margin-bottom: 24px;
}

.assignments-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}


.assignments-table-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #f3f4f6;
}


.assignments-search-container {
    position: relative;
}

.assignments-search-input {
    background-color: #374151;
    color: white;
    padding: 8px 16px;
    padding-left: 40px;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.assignments-search-input::placeholder {
    color: #9ca3af;
}


.assignments-search-input:focus {
    border: 2px solid #3b82f6;
}

.assignments-search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af
}


.assignments-table-container-content {
    overflow-x: auto;
    background-color: rgba(31, 41, 55, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #374151;
    margin-bottom: 24px;
}

.assignments-table {
    width: 100;
    border-collapse: collapse;
}

.assignments-table th {
    padding: 12px 24px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #9ca3af;
    border-bottom: 1px solid #374151;
}

.assignments-table tbody tr {
    transition: background-color 0.3s
}


.assignments-table tbody tr:hover {
    background-color: rgba(55, 65, 82, 0.2);
    cursor: pointer;
}


.assignments-table td {
    padding: 16px 24px;
    font-size: 14px;
    color: #d1d5db;
    white-space: nowrap;
}

.actions-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    gap: 12px;
}

.assignment-btn,
.download-btn,
.completed-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    color: #ffffff;
}

.assignment-btn.submitted {
    background-color: #16A34A;
}


.assignment-btn.submitted:hover {
    background-color: #15803D;
}

.download-btn.downloaded {
    background-color: #007BFF;
}

.download-btn.downloaded:hover {
    background-color: #076bd6;
}

.completed-btn.completed {
    background-color: #FFA500;
}

.completed-btn.completed:hover {
    background-color: #dd9206;
}


.assignment-btn.submit {
    background-color: #00A9E0;
}

.download-btn.download {
    background-color: #FFD700;
}

.completed-btn.complete {
    background-color: #D1D3D4;
}

.assignment-btn.submit:hover,
.download-btn.download:hover,
.completed-btn.complete:hover {
    cursor: pointer;
}




/* .assignments-action-button {
    border: none; #FFA500
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.delete-button {
    color: #f87171;
}

.delete-button:hover {
    color: #fca5a5;
} */

